{% extends 'base.html' %}
{% load static %}
{% block title %} Checkout {% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-9">
            <div class="box-element-menu">
                <a class="btn btn-outline-dark" href="{% url 'cart' %}">&#x2190; Back to Cart</a>
                <br><br>
                <h3>Order Summary</h3>
                <hr>
                {% for item in items %}
                <div class="cart-row">
                    <div style="flex: 2"><img class="row-image" src="{{item.menu.image_url}}" alt="{{item.menu.name}}"></div>
                    <div style="flex: 2"><p>{{item.menu.name}}</p></div>
                    <div style="flex: 2"><p>{{item.menu.price|floatformat:2}} zł</p></div>
                    <div style="flex: 2"><p>x{{item.no_of_serving}}</p></div>
                    <div style="flex: 2"><p>{{item.total|floatformat:2}} zł</p></div>
                </div>
                {% endfor %}
                <h5>Items: {{order.cart_items}}</h5>
                <h5>Total: {{order.cart_total|floatformat:2}} zł</h5>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-9" style="margin-top: 20px;">
            <div class="box-element-menu" id="form-wrpper">
                <!-- Checkout Form -->
                <form id="form">
                    <input id="form-button" class="btn btn-success btn-block" type="submit" value="Continue">
                </form>

                <!-- Payment Information (Hidden by default) -->
                <div class="hidden" id="payment-info" style="padding-left: 3%; padding-top: 20px;">
                    <!-- Set up a container element for the payment button -->
                    <div id="paypal-button-container"></div>
                </div>
            </div>
            <br>
        </div>
    </div>

    <script src="https://www.paypal.com/sdk/js?client-id={{ PAYPAL_CLIENT_ID }}&currency={{ PAYPAL_CURRENCY }}"></script>
    <script type = "text/javascript">

        var total = '{{order.get_cart_total}}'
        var form = document.getElementById('form')
        // Render the PayPal button into #paypal-button-container
        paypal.Buttons({
        
            // Set up the transaction
            createOrder: function(data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: parseFloat(total).toFixed(2)
                        }
                    }]
                });
            },
        
            // Finalize the transaction
            onApprove: function(data, actions) {
                return actions.order.capture().then(function(orderData) {
                    console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                    var transaction = orderData.purchase_units[0].payments.captures[0];
                    submitFormData();
                });
            }
        
        
        }).render('#paypal-button-container');
        
        form.addEventListener('submit', function(e){
            e.preventDefault()
            document.getElementById('form-button').classList.add('hidden')
            document.getElementById('payment-info').classList.remove('hidden')
        })
        
        function submitFormData(){
            console.log("Clicked ")
        
            var url = '/proces_order/'
            fetch(url,{
                method:'POST',
                headers:{
                    'Content-Type':'application/json',
                    'X-CSRFToken':csrftoken,
                },
                body:JSON.stringify({'form':userFormData,'delivery':deliveryInfo})
            })
            .then((response) => response.json())
            .then((data) => {
                console.log('success: ', data);
                alert('Transaction completed');
                window.location.href = "{% url 'menu' %}"
            })
        }
    </script>
    
{% endblock %}